.warning {
    background-color: #4A3600;
    color: #FFD159;
    border-color: #FFD159;
}

.error {
    background-color: #430101;
    color: #FF6262;
    border-color: #FF6262;
}

.info {
    background-color: #00263C;
    color: #65C8FF;
    border-color: #65C8FF;
}

.success {
    background-color: #003C26;
    color: #65FF90;
    border-color: #65FF90;
}
.noticeBarDetails {
    flex-grow: 1;
}

.noticeBarDetails h1 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
.noticeBarDetails p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}
