
.icon-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.icon-button:hover {
    border-radius: 20%;
    filter: opacity(75%);
}
.text-button {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    justify-content: flex-start;
    flex-direction: row;
    border-radius: 0.2em;
    padding: 0;
}
:is(.icon-button, .text-button) {
    border: none;
    text-align: center;
    background-color: rgba(255,255,255,0.15);
    color: inherit;
    transition: all 0.2s ease-in-out;
}
:is(.text-button, .icon-button):hover {
    cursor: pointer;
    filter: brightness(0.85);
}
:is(.text-button, .icon-button):active {
    cursor: pointer;
    filter: brightness(1);
    color: #dcdcdc;
}

.icon-button svg {
    vertical-align: middle;
    font-size: 1.5rem;
}
.icon-button.success {
    background-color: #a6fda81f;
    color: #a6fda8;
}
.icon-button.danger {
    background-color: #fda6a61f;
    color: #fda6a6;
}
.icon-container {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .12em 0 0 .12em;
}
.text-button.success {
    background-color: rgba(188, 255, 166, 0.3);
}
.text-button.danger {
    background-color: rgba(255, 128, 128, 0.3);
}
.icon-container svg {
    padding: 0 0.5rem;
    font-size: 2.5em;
}

.mini-icon {
    padding: 0 0.2rem;
}

.text-button span {
    padding: 0.6rem;
    flex-grow: 1;
    min-width: 100px;
}
.text-button.iconAfter  {
    flex-direction: row-reverse;
}

.text-button.iconAfter .icon-container {
    border-radius: 0 0.12em 0.12em 0;
}
